{
  "openapi": "3.0.1",
  "info": {
    "title": "AnyParser RT API",
    "description": "A real-time parser designed to extract content from various file formats, including PDFs and DOCX files.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://public-api.cambio-ai.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/parse": {
      "post": {
        "summary": "Parse a file and return content in markdown format",
        "description": "This API endpoint parses the uploaded file and returns the content in markdown format.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_content": {
                    "type": "string",
                    "description": "The base64 encoded content of the file to be parsed."
                  },
                  "file_type": {
                    "type": "string",
                    "description": "The type of the file. Supported values are 'pdf' and 'docx'.",
                    "enum": ["pdf", "docx"]
                  }
                },
                "required": ["file_content", "file_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File parsed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "object",
                      "description": "The parsed content in markdown format."
                    },
                    "pageCount": {
                      "type": "integer",
                      "description": "The number of pages in the result."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Only 1 request per second is allowed."
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ]
      }
    },
    "/extract_key_value": {
      "post": {
        "summary": "Extract Key-value pairs from a file",
        "description": "This API endpoint extracts key-value pairs from the uploaded file and returns the content in json format.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_content": {
                    "type": "string",
                    "description": "The base64 encoded content of the file to be parsed."
                  },
                  "file_type": {
                    "type": "string",
                    "description": "The type of the file. Supported values are 'pdf' and 'docx'.",
                    "enum": ["pdf", "docx"]
                  },
                  "extract_args": {
                    "type": "object",
                    "description": "The key-value extraction instructions.",
                    "properties": {
                      "extract_instruction": {
                        "type": "object",
                        "description": "Dictionary with the key as the names of the key to extract, and the value being a description of that key.",
                        "additionalProperties": {
                          "type": "string",
                          "description": "A user-defined key name and description of the key."
                        }
                      }
                    },
                    "required": ["extract_instruction"]
                  }
                },
                "required": ["file_content", "file_type", "extract_args"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key-value extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "json": {
                      "type": "object",
                      "description": "The extracted key-value pairs in json format."
                    },
                    "pageCount": {
                      "type": "integer",
                      "description": "The number of pages processed."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Only 1 request per second is allowed."
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ]
      }
    },
    "/extract_resume_key_value": {
      "post": {
        "summary": "Extract Candidate's Information from a resume",
        "description": "This API endpoint extracts key-value pairs from the uploaded resume and returns the content in json format.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_content": {
                    "type": "string",
                    "description": "The base64 encoded content of the file to be parsed."
                  },
                  "file_type": {
                    "type": "string",
                    "description": "The type of the file. Supported values are 'pdf' and 'docx'.",
                    "enum": ["pdf", "docx"]
                  }
                },
                "required": ["file_content", "file_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resume key-value extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "json": {
                      "type": "object",
                      "description": "The extracted resume information in json format."
                    },
                    "pageCount": {
                      "type": "integer",
                      "description": "The number of pages processed."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Only 1 request per second is allowed."
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ]
      }
    },
    "/extract_tables": {
      "post": {
        "summary": "Extract raw tables from a file",
        "description": "This API endpoint extracts tables from the uploaded file and returns the tables in HTML format.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_content": {
                    "type": "string",
                    "description": "The base64 encoded content of the file to be parsed."
                  },
                  "file_type": {
                    "type": "string",
                    "description": "The type of the file. Supported values are 'pdf' and 'docx'.",
                    "enum": ["pdf", "docx"]
                  }
                },
                "required": ["file_content", "file_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tables extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "json": {
                      "type": "object",
                      "description": "The extracted tables in HTML format."
                    },
                    "pageCount": {
                      "type": "integer",
                      "description": "The number of pages processed."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Only 1 request per second is allowed."
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ]
      }
    },
    "/extract_pii": {
      "post": {
        "summary": "Extract Personally Identifiable Information (PII) from a file",
        "description": "This API endpoint extracts PII from the uploaded file and returns the content in json format.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_content": {
                    "type": "string",
                    "description": "The base64 encoded content of the file to be parsed."
                  },
                  "file_type": {
                    "type": "string",
                    "description": "The type of the file. Supported values are 'pdf' and 'docx'.",
                    "enum": ["pdf", "docx"]
                  }
                },
                "required": ["file_content", "file_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PII extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "json": {
                      "type": "object",
                      "description": "The extracted PII in json format."
                    },
                    "pageCount": {
                      "type": "integer",
                      "description": "The number of pages processed."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Only 1 request per second is allowed."
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ]
      }
    },
    "/query": {
      "get": {
        "summary": "Query the status of the API",
        "description": "This endpoint queries the status, such as remaining pages.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Query status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageRemaining": {
                      "type": "string",
                      "description": "Number of pages remaining."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Only 1 request per second is allowed."
          }
        }
      }
    },
    "/async/upload": {
      "post": {
        "summary": "Upload a file asynchronously",
        "description": "This endpoint provides a pre-signed URL for uploading a file and a unique file ID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string",
                    "description": "The name of the file to be uploaded."
                  },
                  "process_type": {
                    "type": "string",
                    "enum": ["file", "table", "json", "file_refined_quick", "extract_pii"],
                    "description": "The type of processing to apply to the uploaded file. Default is `file`, which will parse full content from the input file. `table` will extract tables from the input file. `json` will extract key-value pairs from the input file. `file_refined_quick` will parse the full content from the input file with a larger model. `extract_pii` will extract PII (personally identifiable information) from the input file."
                  },
                  "extract_args": {
                    "type": "object",
                    "description": "Arguments for extraction processing.",
                    "additionalProperties": true
                  }
                },
                "required": ["file_name", "process_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File upload details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_id": {
                      "type": "string",
                      "description": "The unique identifier of the file."
                    },
                    "presignedUrl": {
                      "type": "string",
                      "description": "A pre-signed URL for uploading your docx or pdf file."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Only 1 request per second is allowed."
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ]
      }
    },
    "/async/fetch": {
      "post": {
        "summary": "Fetch parsed content or status",
        "description": "This endpoint fetches the parsed content or status of a previously uploaded file.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "The unique identifier of the file you want to check."
                  }
                },
                "required": ["file_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File parsed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markdown": {
                      "type": "object",
                      "description": "The parsed content in markdown format."
                    },
                    "pageCount": {
                      "type": "integer",
                      "description": "The number of pages in the result."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "File processing in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message indicating that the file processing is still in progress."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message indicating unauthorized access."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Message indicating that the file was not found."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Description of the client error encountered."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Detailed server error message."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key."
          }
        ]
      }
    }
  }
}
